.button {
  display: block;
  padding: 7px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  background-color: @green;
  border: none;
  cursor: pointer;

  &--secondary {
    padding: 10px;
    .font(0.8rem, 1.25);
    color: @gray-4;
    background-color: @gray-basic;
  }
}

@media (min-width: @tablet-width) {
  .button {
    .font (1rem, 1);

    &--secondary {
      .font(0.8rem, 1.25);
    }
  }
}
