.catalog-additional__wrapper {
  padding: 25px @xs 35px;
}

.catalog-additional__wrapper-content {
  max-width: 550px;
  margin: 0 auto;
}

.catalog-additional__title {
  position: relative;
  margin: 0;
  padding-bottom: 36px;
  .font(1.2rem, 1);
  font-weight: 400;
  color: @black;

  &::after {
    position: absolute;
    top: 0.6em;
    left: 0;
    right: -@xs;
    height: 2px;
    background-color: @green;
    z-index: -1;
    content: "";
  }
}

.catalog-additional__subtitle {
  display: inline-block;
  padding-right: 22px;
  background-color: @white;
}

.catalog-additional__list {
  .reset-list();
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-top: 1px solid @border-block-catalog2-color;

  &:first-of-type {
    border-top: none;
  }
}

.catalog-additional__gift {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__wrapper {
    padding: 0 @xm 76px;
  }

  .catalog-additional__wrapper-content {
    max-width: 100%;
  }

  .catalog-additional__title {
    padding: 0 36px 116px;
    border: none;

    &::after {
      top: 0.9em;
      right: -@xm;
      left: -@xm;
    }
  }

  .catalog-additional__subtitle {
    position: absolute;
    margin-left: -36px;
    padding: 0 36px;
    .font(1.8rem, 1);
  }

  .catalog-additional__list {
    border: 1px solid @border-block-catalog2-color;
  }

  .catalog-additional__item {
    padding: 26px 38px 27px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .catalog-additional__gift {
    margin-top: 69px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__wrapper {
    .max-desktop-width ();
    padding: 0 @xl 86px;
  }

  .catalog-additional__wrapper-content {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 79px;
  }

  .catalog-additional__title {
    padding: 0 0 117px;
    border: none;

    &::after {
      right: -@xl;
      left: -@xl;
    }
  }

  .catalog-additional__list {
    border-right: none;
    border-left: none;
  }

  .catalog-additional__gift {
    margin: 0;
  }
}
