.catalog__title {
  margin: 0;
  padding: 27px @xs 41px;
  .font(1.8rem, 1);
  font-weight: 400;
  color: @black;
  border-bottom: 1px solid @border-block-catalog-color;
}

.catalog__list {
  .reset-list();
}

.catalog__card {
  padding: 19px @xs 25px;
  border-bottom: 1px solid @border-block-catalog-color;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    margin: 0;
    padding: 3px @xm 82px;
    .font(3rem, 1);
    border: none;
  }

  .catalog__wrapper {
    padding: 0 @xm 68px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
  }

  .catalog__card {
    padding: 0 39px 39px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title {
    .max-desktop-width ();
    padding: 16px @xl 84px;
    border: none;
  }

  .catalog__wrapper {
    .max-desktop-width ();
    padding: 0 @xl 76px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }

  .catalog__card {
    padding: 0 34px 40px 45px;
    border: none;
  }
}
