.catalog-additional__wrapper {
  padding: 25px @xs 0;
}

.catalog-additional__title {
  margin: 0;
  padding-bottom: 36px;
  .font(1.2rem, 1);
  font-weight: 400;
  color: @black;
  border-bottom: 1px solid @border-block-catalog2-color;
}

.catalog-additional__list {
  .reset-list();
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid @border-block-catalog2-color;
}

.card-additional__title {
  margin: 0;
  .font(0.8rem, 1);
  font-weight: 400;
  text-transform: uppercase;
  color: @gray-2;
}

.card-additional__list {
  font-family: "Arial", "Helvetica", sans-serif;
  .font(0.7rem, 1);
}
