.catalog-additional__wrapper {
  padding: 25px @xs 0;
}

.catalog-additional__title {
  margin: 0;
  padding-bottom: 36px;
  .font(24px, 24px);
  font-weight: 400;
  color: @black;
  border-bottom: 1px solid @border-block-catalog2-color;
}

.catalog-additional__list {
  .reset-list();
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid @border-block-catalog2-color;
}

.card-additional__title {
  margin: 0;
  .font(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: @gray-2;
}

.card-additional__list {
  font-family: "Arial", "Helvetica", sans-serif;
  .font(14px, 14px);
}
