.contacts__wrapper {
  display: flex;
  align-items: center;
  padding: 26px 20px;
}

.contacts--secondary {
  background-color: @gray-basic;
}

.contacts__title {
  width: 139px;
  margin: 0;
  .font(16px, 20px);
  text-transform: uppercase;
  color: @gray-1;
}

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  color: @gray-4;
}

.contacts__city {
  margin: 0;
}
