.example {
  background-color: @bg-color;
}

.example__wrapper {
  padding: 25px 20px 40px;
}

.example__list {
  margin-bottom: 20px;
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  .font(36px, 40px);
  font-weight: 400;
  color: @black;
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.example__value {
  .font(24px, 24px);
}

.example__value,
.example__total {
  text-transform: uppercase;
  color: @black;
}

.example__description {
  font-family: "Arial", sans-serif;
  .font(12px, 12px);
}

.example__total {
  margin-top: 0;
  margin-bottom: 40px;
  .font(@line-height: 20px);
  text-align: center;
}

.example__image {
  margin-bottom: 15px;
}
