.features__wrapper {
  padding: 0 @xs 49px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 40px;
  .font(1.8rem, calc(40 / 36));
  font-weight: 400;
  color: @black;
}

.features__list {
  .reset-list();
  font-family: "Arial", "Helvetica", sans-serif;
}

.features__item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    min-width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--leaf::before {
    background-image: url("../img/index-icon-leaf.svg");
  }

  &--water::before {
    background-image: url("../img/index-icon-water.svg");
  }

  &--food::before {
    background-image: url("../img/index-icon-food.svg");
  }

  &--time::before {
    background-image: url("../img/index-icon-time.svg");
  }
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    padding: 0 @xm 47px;
    border-bottom: 1px solid @border-index;
  }

  .features__title {
    margin-bottom: 32px;
    .font(3rem, 1);
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    margin-right: 75px;
  }

  .features__item {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-height: 280px;
    margin: 0;

    &::before {
      width: 80px;
      height: 80px;
      margin-top: 38px;
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 26px;
      width: 112px;
      height: 280px;
      font-family: "Oswald", "Arial", sans-serif;
      .font(280px, 280px);
      color: @gray-basic;
      counter-increment: features;
      content: counter(features);
      z-index: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper {
    .max-desktop-width ();
    padding: 0 @xl 26px;
    border-bottom: none;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    margin-right: 0;
  }

  .features__title {
    margin-bottom: 36px;
  }
}
