.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 290px;
  background-image: url("../img/catalog-gift-mobile.jpg");
  background-color: @green-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-gift-mobile@2x.jpg");
  }
}

.gift__text {
  width: 161px;
  margin: 0 auto;
  font-family: "Arial", "Helvetica", sans-serif;
  .font(0.8rem, 1.25);
  text-align: center;
  color: @white;
}

.gift__icon {
  width: 78px;
  height: 80px;
  margin: 59px 0 48px;
}

@media (min-width: @tablet-width) {
  .gift {
    flex-direction: row;
    justify-content: space-between;
    min-height: 200px;
    background-image: url("../img/catalog-gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-gift-tablet@2x.jpg");
    }
  }

  .gift__text {
    margin: 0;
    margin-right: 124px;
    text-align: left;
  }

  .gift__icon {
    margin-top: 42px;
    margin-left: 80px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    flex-direction: column;
    background-image: url("../img/catalog-gift-desktop.jpg");

    @media (min-resolution: 768px) {
      background-image: url("../img/catalog-gift-desktop@2x.jpg");
    }
  }

  .gift__text {
    margin: 0;
    margin-bottom: 42px;
    text-align: center;
  }

  .gift__icon {
    margin: 55px 0 50px;
  }
}
