.gift {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 290px;
  background-image: url("../img/catalog-bg.jpg");
  background-color: #64a73d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gift__text {
  width: 161px;
  margin: 0 auto;
  font-family: "Arial", "Helvetica", sans-serif;
  .font(0.8rem, 1.25);
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gift__text {
    text-align: left;
  }
}
