.gift {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 290px;
  background-image: url("../img/catalog-gift-mobile.jpg");
  background-color: @green-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-gift-mobile@2x.jpg");
  }
}

.gift__text {
  width: 161px;
  margin: 0 auto;
  font-family: "Arial", "Helvetica", sans-serif;
  .font(0.8rem, 1.25);
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gift {
    min-height: 200px;
    background-image: url("../img/catalog-gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-gift-tablet@2x.jpg");
    }
  }

  .gift__text {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    background-image: url("../img/catalog-gift-desktop.jpg");

    @media (min-resolution: 768px) {
      background-image: url("../img/catalog-gift-desktop@2x.jpg");
    }
  }

  .gift__text {
    text-align: center;
  }
}
