.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 39px @xs 22px;
  background-color: @gray-basic;
}

.main-footer__logo {
  display: block;
  padding-bottom: 32px;
  text-align: center;
}

.main-footer__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 47px @xm 55px;
  }

  .main-footer__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    .max-desktop-width ();
    padding: 46px @xl;
  }
}
