.programs-profile__header {
  padding: 27px @xs 39px;
}

.programs-profile__group {
  margin: 0;
  padding: 0;
  border: none;

  &--comments {
    padding: 0 @xs 22px;
  }
}

.programs-profile__info-wrapper {
  padding: 0 @xs 24px;
  border-bottom: 1px solid @border-block-color;
}

.programs-profile__programs-wrapper {
  padding: 22px @xs 20px;
  border-bottom: 1px solid @border-block-color;
}

.programs-profile__contacts-wrapper {
  padding: 26px @xs 24px;
}

.programs-profile__more-wrapper {
  padding: 0 @xs 34px;
}

.programs-profile__title {
  margin-top: 0;
  margin-bottom: 36px;
  .font(1.2rem, calc(26 / 24));
  color: @black;

  &--header {
    .font(1.8rem, 1);
    font-weight: 400;
  }
}

.programs-profile__text {
  margin: 0;
  text-transform: uppercase;
  color: @black;
}

.programs-profile__list {
  .font(0.8rem, calc(18 / 16));
  text-transform: uppercase;
  .reset-list();
}

.programs-profile__control {
  display: flex;
  align-items: baseline;
}

.programs-profile__item:not(:last-of-type) {
  margin-bottom: 13px;
}

.programs-profile__label {
  margin-right: 13px;

  &--programs {
    color: @gray-2;
  }

  &--more {
    color: @black;
  }
}

.programs-profile__input {
  padding: 14px 15px;
  border: 1px solid @border-color;

  &--info,
  &--contacts {
    flex-grow: 1;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
  }
}

.programs-profile__comments {
  width: 100%;
  padding: 10px 12px 10px 15px;
  font-family: "Oswald", sans-serif;
  .font(0.8rem, calc(18 / 16));
  text-transform: uppercase;
}

.programs-profile__button {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.programs-profile__required-fields {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 32px;
  font-family: "Arial", "Helvetica", sans-serif;
  .font(0.7rem, calc(16 / 14));
  color: @black;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .programs-profile__wrapper {
    padding: 3px @xm 72px;
  }

  .programs-profile__header {
    padding: 0 40px 66px;
  }

  .programs-profile__title--header {
    margin-bottom: 54px;
  }

  .programs-profile__info-wrapper {
    padding: 0 40px 72px;
    border: none;
  }

  .programs-profile__programs-wrapper {
    margin: 0 41px 75px;
    padding: 30px;
    border: 1px solid @border-color;
  }

  .programs-profile__contacts-wrapper,
  .programs-profile__group--comments {
    padding: 0 40px 65px;
  }

  .programs-profile__more-wrapper {
    padding: 0 40px 54px;
  }

  .programs-profile__list--more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  .programs-profile__submit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    align-items: baseline;
    padding: 0 40px;
  }

  .programs-profile__required-fields {
    padding: 0;
    text-align: left;
  }

  .programs-profile__button {
    width: 282px;
    margin: 0;
    padding: 13px;
  }
}

@media (min-width: @desktop-width) {
  .programs-profile__wrapper {
    .max-desktop-width ();
    padding: 15px @xl 82px;
  }

  .programs-profile__header {
    padding-left: 0;
    padding-bottom: 66px;
  }

  .programs-profile__title--header {
    margin-bottom: 56px;
  }

  .programs-profile__form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .programs-profile__info-wrapper,
  .programs-profile__contacts-wrapper {
    padding: 0 0 69px;
  }

  .programs-profile__programs-wrapper {
    margin: 0;
  }

  .programs-profile__list-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .programs-profile__group--comments {
    padding: 0 0 67px;
  }

  .programs-profile__more-wrapper {
    padding: 0 0 61px;
  }

  .programs-profile__list--more {
    grid-template-columns: repeat(4, 1fr);
  }

  .programs-profile__submit-wrapper {
    display: grid;
    grid-template-columns: 568px 1fr;
    column-gap: 81px;
    padding: 0;
  }

  .programs-profile__button {
    max-width: none;
    width: auto;
  }
}
