.programs__wrapper {
  padding: 10px @xs 20px;
}

.programs__item {
  padding: 30px 20px 18px;
  background-color: @gray-basic;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.programs__list {
  .reset-list();
}

.programs__title {
  margin-top: 0;
  margin-bottom: 29px;
  .font(1.2rem, calc(37 / 24)); //24px 37px
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: @black;
}

.programs__text {
  margin-bottom: 38px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.programs__link {
  .font(0.8rem, 1);
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .programs__wrapper {
    padding: 0 @xm 45px;
  }

  .programs__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .programs__wrapper {
    .max-desktop-width ();
    padding: 0 @xl 71px;
  }

  .programs__list {
    display: flex;
  }

  .programs__item {
    width: 50%;

    &:not(:last-of-type) {
      margin-right: 80px;
      margin-bottom: 0;
    }
  }
}
