.range {
  text-align: center;
}

.range__button {
  font-family: "Oswald", "Arial", sans-serif;
  .font(16px, 20px);
  text-transform: uppercase;
  color: @black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
