.font (@font-size,
        @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.reset-list () {
  margin: 0;
  padding: 0;
  list-style: none;
}

.max-desktop-width () {
  max-width: @desktop-width;
  margin: 0 auto;
}
